@import url(https://fonts.googleapis.com/css?family=Roboto:500);
.google-btn {
  width: 40%;
  margin-bottom: 2%;
  height: 42px;
  float: left;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
}


.google-btn .google-icon-wrapper {
  position: absolute;
  margin-top: 1px;
  margin-left: 1px;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  background-color: #fff;
}
.google-btn .google-icon {
  position: absolute;
  margin-top: 11px;
  margin-left: 11px;
  width: 18px;
  height: 18px;
}
.google-btn .btn-text {
  float: right;
  margin: 11px 11px 0 0;
  color: grey;
  font-size: 14px;
  letter-spacing: 0.2px;
  font-family: "Roboto";
}
img{
  width: 300px;
  height: 250px;
  margin-left: auto;
  display: block;
  margin-right: auto;
}

h3{
  font-size: .9rem;
}


body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}
form{

  width:30%;
  margin-left: auto;
  margin-right: auto;
}
.text-center{
  text-align: center;
}
a{
  color: #00bcd4;
}
p{
  font-size: .8rem;

}
/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for all buttons */
button {
  background-color: #00bcd4;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
  form{
    width: 50%;
  }
}
